body{
  background-color: #8eadc5;
}

body.claro{
  background-color: #8de1bd;
}

body.oscuro{
  background-color: #577a76;
}


button{
  background-color: #7fba67;
  color: #ffffff;
  border: none;
  width: 100%;
  padding: 30px;
  font-size: 1em;
  margin-top: 10px;
}